            /* global styles
-------------------------------------*/
            
            html {
                box-sizing: content-box;
            }
            
            *,
            *:before,
            *:after {
                box-sizing: inherit;
            }
            
            #body {
                color: #eaeaea;
                margin: 0;
                padding: 0;
                font-size: 15px;
                line-height: 1.5;
            }
            
            h1,
            h2 {
                font-family: 'Caveat', cursive;
                font-weight: 400;
                margin: 0;
            }
            
            h1 {
                font-size: 100px;
                line-height: 1;
            }
            
            h2 {
                font-size: 48px;
            }
            
            h3 {
                margin-top: 0;
                font-size: 25px;
                margin-bottom: 0;
            }
            
            p {
                font-size: 20px;
                line-height: 1.5;
            }

            /* NAVIGATION
-------------------------------------*/
            
            .navbar {
                background-color: #08d9d6;
                display: grid;
                width: 100%;
            }
            
            .container {
                display: inline;
                margin: 10px 20px 10px 0;
            }
            
            .logo {
                float: left;
                object-fit: cover;
            }
            /* PROFILE
-------------------------------------*/
            
            .profile {
                background-color: #252a34;
                color: #eaeaea;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .profile-pic img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                object-fit: cover;
                margin-top: 50px;
            }
            
            .profile .intro {
                text-align: center;
                margin-bottom: 30px;
            }
            /* ABOUT
-------------------------------------*/
            
            .content {
                background-color: #ff4171;
                color: #112d4e;
            }
            
            .content-wrap {
                font-family: 'Montserrat', sans-serif;
                width: 90%;
                margin: auto;
                padding: 60px 0;
            }
            
            .content .content-wrap .btn {
                color: #eaeaea;
                background: #29007a;
                text-decoration: none;
                padding: 10px;
                border-radius: 4px;
            }
            
            .content .content-wrap .btn:hover {
                background: #b595f6;
                color: #29007a;
                font-weight: bold;
            }
            
            .about-item img {
                padding: 5px;
                width: 345px;
                margin-left: 3px;
                border: rgb(255, 255, 255, 50%) solid 3px;
                border-radius: 10px;
            }
            
            .gif {
                text-align: center;
                font-weight: bold;
                font-size: larger;
                padding: 5px;
                margin-right: 50px;
                width: 345px;
            }
            
            .gif h4 {
                float: left;
                margin: 40px 20px 0 0;
                padding: 5px;
                width: 345px;
                border: rgb(255, 255, 255, 50%) solid 3px;
                border-radius: 10px;
            }
            
            .gif img {
                padding: 5px;
                width: 345px;
                visibility: hidden;
                margin: 0;
                border-top: none;
                border-radius: 0 0 10px 10px;
            }
            
            .gif:hover img {
                visibility: visible;
            }
            
            .about-item .gif {
                float: left;
                margin-right: 20px;
            }
            
            .about-item .quote {
                font-family: 'Caveat', cursive;
            }
            
            .quote p {
                margin-top: 75px;
                font-size: 30px;
            }
            /* Responsive
-------------------------------------*/
            
            @media screen and (min-width:1200px) {
                .cover {
                    float: left;
                    background-color: #b595f6;
                    height: 40px;
                    width: 40px;
                    margin-top: 5px;
                    border-radius: 50px;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                }
                .cover:hover {
                    width: 170px;
                }
                .cover .overlay {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    border-radius: 50%;
                }
                .cover .overlay svg {
                    fill: #112d4e;
                    height: 25px;
                    width: 25px;
                    padding-top: 8px;
                }
                .cover a {
                    color: #112d4e;
                    text-decoration: none;
                    width: 170px;
                    padding-bottom: 8px;
                }
                .container .cover a i {
                    font-family: 'Squada One', cursive;
                    text-align: center;
                    font-size: 30px;
                }
                .about-item img {
                    float: left;
                    margin-right: 20px;
                }
                .about-item {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    column-gap: 20px;
                }
                .navbar {
                    grid-template-areas: "logo home about services resume";
                    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
                }
                .logo {
                    width: 220px;
                    height: 50px;
                }
                .gif {
                    visibility: visible;
                }
            }
            
            @media screen and (max-width:1199px) {
                .navbar {
                    grid-template-areas: "logo home about services resume";
                    grid-template-columns: 2fr .75fr .75fr .75fr .75fr;
                }
                .cover {
                    float: left;
                    background-color: #b595f6;
                    height: 38px;
                    width: 38px;
                    margin-top: 5px;
                    border-radius: 50px;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                }
                .cover:hover {
                    width: 150px;
                }
                .cover .overlay {
                    display: inline-block;
                    height: 38px;
                    width: 38px;
                    text-align: center;
                    border-radius: 50%;
                }
                .cover .overlay svg {
                    fill: #112d4e;
                    height: 24px;
                    width: 24px;
                    padding-top: 7px;
                }
                .cover a {
                    color: #112d4e;
                    text-decoration: none;
                    width: 150px;
                    padding-bottom: 8px;
                }
                .container .cover a i {
                    font-family: 'Squada One', cursive;
                    text-align: center;
                    font-size: 28px;
                }
                .about-item {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    column-gap: 20px;
                }
                .logo {
                    width: 200px;
                    height: 50px;
                }
                .about-item img {
                    float: left;
                    margin-right: 20px;
                }
                h1 {
                    font-size: 75px;
                    line-height: 0.9;
                    margin-bottom: 20px;
                }
                h2 {
                    font-size: 44px;
                    line-height: 1;
                }
                .gif {
                    visibility: visible;
                }
            }
            
            @media screen and (max-width:1000px) {
                .cover {
                    float: left;
                    background-color: #b595f6;
                    height: 35px;
                    width: 35px;
                    margin-top: 5px;
                    border-radius: 50px;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                }
                .cover:hover {
                    width: 150px;
                }
                .cover .overlay {
                    display: inline-block;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    border-radius: 50%;
                }
                .cover .overlay svg {
                    fill: #112d4e;
                    height: 23px;
                    width: 23px;
                    padding-top: 6px;
                }
                .cover a {
                    color: #112d4e;
                    text-decoration: none;
                    width: 150px;
                    padding-bottom: 8px;
                }
                .container .cover a i {
                    font-family: 'Squada One', cursive;
                    text-align: center;
                    font-size: 28px;
                }
                .logo {
                    width: 180px;
                    height: 50px;
                }
                h1 {
                    font-size: 60px;
                    line-height: 0.9;
                    margin-bottom: 20px;
                }
                h2 {
                    font-size: 42px;
                    line-height: 1;
                }
                .gif {
                    visibility: visible;
                }
            }
            
            @media screen and (max-width:850px) {
                .cover {
                    float: none;
                    background-color: #b595f6;
                    height: 35px;
                    width: 35px;
                    margin-top: 5px;
                    border-radius: 50px;
                    overflow: none;
                    transition: none;
                }
                .cover:hover {
                    width: 35px;
                }
                .cover .overlay {
                    display: block;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    border-radius: 50%;
                }
                .cover .overlay svg {
                    fill: #112d4e;
                    height: 23px;
                    width: 23px;
                    padding-top: 6px;
                }
                .cover a {
                    display: block;
                    color: #112d4e;
                    text-decoration: none;
                    width: 150px;
                    padding-bottom: 8px;
                }
                .about-item {
                    display: inline-block;
                    grid-template-columns: 1fr 2fr;
                    column-gap: 20px;
                }
                .logo {
                    width: 180px;
                    height: 50px;
                }
                h1 {
                    font-size: 60px;
                    line-height: 0.9;
                    margin-bottom: 20px;
                }
                h2 {
                    font-size: 40px;
                    line-height: 1;
                }
                .gif {
                    visibility: visible;
                }
                .about-item img {
                    float: none;
                    max-width: 90%;
                    margin-bottom: 15px;
                }
                .about-item .gif img {
                    float: none;
                    max-width: 90%;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                .about-item .gif h4 {
                    float: none;
                    max-width: 90%;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                picture {
                    position: relative;
                    left: 20%;
                }
            }
            
            @media screen and (max-width:650px) {
                body{
                    margin: 0;
                                    
                .cover {
                    float: none;
                    background-color: #b595f6;
                    height: 35px;
                    width: 35px;
                    margin-top: 5px;
                    border-radius: 50px;
                    overflow: none;
                    transition: none;
                }
                .cover:hover {
                    width: 35px;
                }
                .cover .overlay {
                    display: block;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    border-radius: 50%;
                }
                .cover .overlay svg {
                    fill: #112d4e;
                    height: 23px;
                    width: 23px;
                    padding-top: 6px;
                }
                .cover a {
                    display: block;
                    color: #112d4e;
                    text-decoration: none;
                    width: 150px;
                    padding-bottom: 8px;
                }
                .about-item {
                    display: inline-block;
                    grid-template-columns: 1fr 2fr;
                    column-gap: 20px;
                }
                .about-item img {
                    float: none;
                    max-width: 90%;
                    margin-bottom: 15px;
                }
                .logo {
                    width: 180px;
                    height: 50px;
                }
                h1 {
                    font-size: 50px;
                    line-height: 0.9;
                    margin-bottom: 20px;
                }
                h2 {
                    font-size: 30px;
                    line-height: 1;
                }
                .about-item .gif img {
                    float: none;
                    max-width: 90%;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                .about-item .gif h4 {
                    float: none;
                    max-width: 90%;
                    margin-left: 10px;
                    margin-bottom: 15px;
                }
                .about-item .quote {
                    display: inline-block;
                    grid-template-columns: 1fr 2fr;
                    column-gap: 20px;
                }
                .quote p {
                    font-size: 30px;
                }
                .gif {
                    visibility: visible;
                }
                picture {
                    position: relative;
                    left: 10%;
                }
            }
